

@import 'variaveis.scss';

@media screen and (max-width: 1023px) {
    .container {
        max-width: $container-max-width-responsive;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: $grid-gap-responsive;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;

        .product-item {
            margin-bottom: 32px;
        }
    }
}
