$font-family-main: Roboto, sans-serif;
$color-background-body: #f5f6fa;
$color-header-bg: #182C61;
$color-menu-link: #fff;
$color-product-button: #44bd32;
$color-product-button-hover: #4cd137;
$grid-gap: 1%;
$grid-gap-responsive: 3%;
$container-max-width: 1024px;
$container-max-width-responsive: 80%;
$border-radius: 16px;
$border-radius-small: 8px;
